

#ignore virtual environment folder
yolo_project/**
bdd_100k_source/**
bdd100k_tmp_images/**
bdd100k_tmp_labels/**
bdd100k_yolo/**
bdd100k_yolo_limited/**

bdd100k_yolo_limited_zipped/**





bdd100k_labels/**
old/**
tmp/**


tune_train/wandb/**
tune_train/wandb/
# tune_train/runs/**

yolo_test/wandb/**
yolo_test/wandb/
yolo_test/runs/**


training/wandb/**
training/wandb/
# training/runs/**


__pychache__/
__pychache__/
*.pyc
*.pyo
*.pyd
