

#ignore virtual environment folder
yolo_project/**
bdd_100k_source/**
bdd100k_tmp_images/**
bdd100k_tmp_labels/**
bdd100k_yolo/**
bdd100k_yolo_limited/**

bdd100k_yolo_limited_zipped/**





bdd100k_labels/**
old/**
tmp/**


hyperparameter_tuning/wandb/**
hyperparameter_tuning/runs/**

yolo_test/wandb/**
yolo_test/wandb/
yolo_test/runs/**


__pychache__/
__pychache__/
*.pyc
*.pyo
*.pyd
